@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

p {
    font-size: 12px;
    font-weight: 200;
}

.bg-purple {
    @apply bg-[#473E66]
}

.trapezoid {
  border-bottom: 31px solid #473E66;
  border-right: 50px solid transparent;
  height: 0;
  width: 160px; 
}